---
layout: page
---
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == page.category %}
      <div class="post">
        <div  class="post-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
        </div>
        {% if post.category %}
        <div class="post-category">
          {{post.category}}
        </div>
        {% endif %}
        <div class="post-title">
          <a class="post-link" href="{{post.url}}" title="{{post.title}}">
            {{post.title}}
          </a>
        </div>
        <div class="post-excerpt">
          {{post.excerpt}}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
