<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  <div class="wrapper white">
    {{ content }}
  </div>
  {% include footer.html %}
<script>
var bg = [
  'background-ct-12000.png',
  'background-dk.png',
  'background-mario-blue-lumps.png',
  'background-mario-green-hills.png',
  'background-mario-green-mountains.png',
  'background-mario-mountains.png',
  'background-mario-tree-tops.png',
  'background-mario2-w1a2.png',
  'background-mother2-dalaam.png',
  'background-mother2-onett.png',
  'background-som-goblin.png',
  'background-som-neko.png',
  'background-som.png'
];
document.querySelector('.site-footer').style.backgroundImage = 'url("https://snes.in/site/bg/' + bg[Math.floor(Math.random() * bg.length)] + '")';
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-315321-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
