---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="title" itemprop="name headline">
      <a class="title-link"  href="{{page.url}}" title="{{page.title}}">
        {{page.title}}
      </a>
    </h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%A" }}
        {% assign d = page.date | date: "%-d" %}
        {% assign m = page.date | date: "%B" %}
        {% case m %}
          {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
          {% when 'September' %}Sept.
          {% else %}{{ page.date | date: "%b" }}.
        {% endcase %}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th
        {% endcase %},
        {{ page.date | date: "%Y" }}
      </time>
    </p>
    {% if page.author %}
     <p class="author">
       <span>Author</span>
       <h2>{{page.author}}</h2>
     </p>
     {% endif %}
  </header>
  <div class="post-content" itemprop="articleBody">
    {{content}}
    {% if page.download %}
    <hr/>
    <br/>
    <h2>Download</h2>
    <p class="author">
      <a href="/d.php?file={{page.download.filename}}" title="{{page.download.title}}" download>Download {{page.download.title}}</a>
    </p>
    {% endif %}
  </div>
</article>
